html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  outline: 0 none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'GothamPro';
  color: #333;
  background: #fbfbfb;
  overflow-x: hidden;
}

header {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  padding: 22px 0 24px;
  -webkit-transition: .5s;
  transition: .5s;
}

@media (max-width: 1199px) {
  header {
    padding: 22px 0 38px;
  }
}

@media (max-width: 991px) {
  header {
    padding: 22px 0 24px;
  }
}

@media (max-width: 767px) {
  header {
    padding: 0;
  }
}

header a {
  color: #fff;
}

header.topHeader, header.sticky {
  background: #fff;
  color: #333;
  box-shadow: 0px 0px 15.2px 0.8px rgba(0, 0, 0, 0.15);
}

header.topHeader a, header.sticky a {
  color: #333;
}

header.topHeader .sub-menu, header.sticky .sub-menu {
  background: #fff;
  border-color: #333;
}

header.topHeader .enroll, header.sticky .enroll {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 767px) {
  header.topHeader .logo, header.sticky .logo {
    width: 120px;
    padding: 4px 0 2px;
    margin-left: 13.5px;
  }
}

@media (max-width: 480px) {
  header.topHeader .logo, header.sticky .logo {
    margin-left: 7px;
  }
}

header .logo {
  position: absolute;
  left: 0;
  top: 10px;
  width: 210px;
  margin-left: 20px;
}

@media (max-width: 767px) {
  header .logo {
    position: relative;
    top: 0;
    margin: 0 auto;
    padding: 7px 0 4px;
  }
  header .logo img {
    display: block;
  }
}

@media (max-width: 580px) {
  header .logo {
    width: 150px;
  }
}

header .logo a {
  display: block;
}

header .logo img {
  max-width: 100%;
}

header nav {
  display: inline-block;
  margin-left: 60px;
  padding-top: 12px;
  vertical-align: top;
}

@media (max-width: 991px) {
  header nav {
    display: none;
  }
}

header nav li {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 30px;
  position: relative;
}

header nav li span {
  display: block;
  position: absolute;
  background: #333;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

header nav li .sub-menu {
  position: absolute;
  top: 30px;
  left: -15px;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 15px;
  opacity: 0;
  visibility: hidden;
  text-align: left;
  border: 1px solid #333;
  border-top: none;
  transition: .3s;
  text-transform: uppercase;
  background: #fff;
}

header nav li .sub-menu li {
  display: block;
  margin-right: 0;
}

header nav li .sub-menu li a {
  display: block;
  color: #333;
}

header nav li .sub-menu li:not(:last-of-type) {
  margin-bottom: 15px;
}

header nav a {
  font-size: 18px;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

header nav a:hover, header nav a:focus {
  color: #333;
}

header nav a:hover + span, header nav a:focus + span {
  -webkit-transform: scale(1);
          transform: scale(1);
}

header .tel {
  display: inline-block;
}

@media (max-width: 1199px) {
  header .tel {
    display: none;
  }
}

@media (max-width: 991px) {
  header .tel {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  header .tel {
    display: none;
  }
}

header .tel li:not(:last-of-type) {
  margin-bottom: 5px;
}

header .tel a {
  font-size: 20px;
}

header .navigation {
  position: relative;
  top: 5px;
}

@media (max-width: 1370px) {
  header .navigation {
    text-align: right;
  }
}

header .enroll {
  right: 15px;
  top: 20px;
  display: inline-block;
  position: absolute;
  font-size: 20px;
}

@media (max-width: 1370px) {
  header .enroll {
    display: none;
  }
}

@media (max-width: 767px) {
  header .enroll {
    display: block;
    top: 7px;
    opacity: 0;
    visibility: hidden;
  }
}

@media (max-width: 480px) {
  header .enroll {
    right: 7px;
    top: 8px;
  }
}

header .enroll a {
  display: block;
  background: #64c1cc;
  color: #fff;
  height: 54px;
  line-height: 52px;
  padding: 0 10px;
  text-transform: uppercase;
  border: 1px solid #333;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 767px) {
  header .enroll a {
    font-size: 18px;
    height: 35px;
    line-height: 32px;
  }
}

@media (max-width: 480px) {
  header .enroll a {
    font-size: 13px;
    height: 31px;
    line-height: 30px;
    padding: 0 7px;
  }
}

header .enroll a:hover, header .enroll a:focus {
  background: #3fb1be;
}

.main_baner {
  color: #fff;
  position: relative;
  margin-bottom: 12px;
  background: url(../img/leftPoly.png) left bottom, url(../img/rightPoly.png) right bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.main_baner:before, .main_baner:after {
  content: '';
  width: 100%;
  display: block;
  height: 2px;
  left: 0;
  bottom: 0;
  position: absolute;
  box-shadow: 0px 0px 13.95px 1.05px rgba(0, 0, 0, 0.15);
}

.main_baner:before {
  background: #e7662b;
}

.main_baner:after {
  background: #66c1cd;
  bottom: -11px;
}

.main_baner p {
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .main_baner {
    background: transparent;
  }
}

@media (max-width: 767px) {
  .main_baner {
    background: url(../img/video.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
  }
}

.main_baner .title {
  font-family: 'GothamProBlack';
  text-transform: uppercase;
  font-size: 48px;
  text-align: center;
  line-height: 1.3;
  text-shadow: 0px 0px 17.64px rgba(0, 0, 0, 0.24);
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 1199px) {
  .main_baner .title {
    font-size: 40px;
    top: 50%;
  }
}

@media (max-width: 991px) {
  .main_baner .title {
    font-size: 35px;
  }
}

.main_baner .title a {
  position: relative;
  z-index: 6;
  border: 1px solid #333;
  box-shadow: 0px 0px 13.5px 1.5px rgba(0, 0, 0, 0.3);
  background: #64c1cc;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  font-weight: lighter;
  line-height: 52px;
  text-align: center;
  padding: 0 15px;
  height: 54px;
  font-size: 20px;
  font-family: 'GothamPro';
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 991px) {
  .main_baner .title a {
    height: 42px;
    line-height: 40px;
  }
}

.main_baner .title a:hover, .main_baner .title a:focus {
  background: #3fb1be;
}

.main_baner .title span {
  color: #e7662b;
}

.main_baner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -100;
}

@media (max-width: 767px) {
  .main_baner video {
    display: none;
  }
}

.about_us {
  position: relative;
  z-index: 5;
  background: #fbfbfb;
  margin-bottom: 12px;
}

.about_us:before, .about_us:after {
  content: '';
  width: 100%;
  display: block;
  height: 2px;
  left: 0;
  bottom: 0;
  position: absolute;
  box-shadow: 0px 0px 13.95px 1.05px rgba(0, 0, 0, 0.15);
}

.about_us:before {
  background: #e7662b;
}

.about_us:after {
  background: #66c1cd;
  bottom: -11px;
}

.about_us .lineThroght {
  border-left: 2px solid #333;
  border-right: 2px solid #333;
}

@media (max-width: 767px) {
  .about_us .lineThroght {
    display: none;
  }
}

.about_us p {
  text-align: justify;
  font-weight: lighter;
  font-size: 18px;
  margin-bottom: 40px;
  text-indent: 35px;
}

@media (max-width: 767px) {
  .about_us p {
    margin-bottom: 20px;
  }
}

.about_us .program {
  padding-left: 0;
  position: relative;
}

@media (max-width: 991px) {
  .about_us .program {
    padding-left: 15px;
    border-left: 1px solid #333;
  }
}

@media (max-width: 767px) {
  .about_us .program {
    border-left: none;
  }
}

.about_us .program ul {
  position: absolute;
  top: 35px;
  left: 149px;
  z-index: 999;
}

@media (max-width: 767px) {
  .about_us .program ul {
    position: relative;
    left: 0;
    top: 0;
    display: inline-block;
    margin-bottom: 20px;
  }
}

.about_us .program ul li {
  margin-bottom: 30px;
  font-weight: lighter;
  text-align: left;
  font-size: 18px;
  position: relative;
  padding-left: 30px;
}

@media (max-width: 991px) {
  .about_us .program ul li {
    margin-bottom: 15px;
  }
}

.about_us .program ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #e7662b;
}

.about_us .program ul li:after {
  position: absolute;
  display: inline-block;
  font-family: 'icon';
  color: #09c;
  left: -6px;
  top: -4px;
  font-size: 25px;
}

.about_us .program img {
  max-width: 100%;
}

@media (max-width: 767px) {
  .about_us .program img {
    display: none;
  }
}

.about_us .about_slider {
  z-index: 5;
  position: relative;
}

@media (max-width: 767px) {
  .about_us .about_slider {
    text-align: center;
  }
}

.about_us .about_slider .title {
  z-index: 999;
  color: #e7662b;
  font-size: 38px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  line-height: 1.4;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  padding: 35px;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .about_us .about_slider .title {
    padding: 20px;
    font-size: 32px;
  }
}

@media (max-width: 1199px) {
  .about_us .about_slider .title {
    padding: 10px;
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .about_us .about_slider .title {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    margin-bottom: 35px;
  }
}

.about_us .left-side {
  padding-right: 0;
  position: relative;
}

@media (max-width: 767px) {
  .about_us .left-side {
    display: none;
  }
}

@media (max-width: 991px) {
  .about_us .left-side {
    padding-right: 15px;
    border-right: 1px solid #333;
  }
}

.about_us .left-side ul {
  z-index: 999;
  position: absolute;
  text-align: right;
  top: 120px;
  left: 55px;
}

@media (max-width: 1199px) {
  .about_us .left-side ul {
    left: -20px;
  }
}

.about_us .left-side ul li {
  margin-bottom: 30px;
  font-weight: lighter;
  font-size: 18px;
  position: relative;
  padding-right: 30px;
}

.about_us .left-side ul li:before {
  position: absolute;
  content: '';
  right: 0;
  top: 3px;
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #333;
}

@media (max-width: 991px) {
  .about_us .left-side ul li {
    margin-bottom: 15px;
  }
}

.about_us .itemSlider {
  float: right;
  width: 300px;
}

.about_us .itemSlider img {
  max-width: 100%;
}

.double_title {
  z-index: 5;
  margin-bottom: 45px;
  margin-top: 60px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(204, 204, 204, 0.3);
  font-size: 72px;
  font-family: 'GothamProBlack';
  position: relative;
}

@media (max-width: 991px) {
  .double_title {
    font-size: 58px;
    margin-top: 45px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .double_title {
    font-size: 45px;
  }
}

@media (max-width: 480px) {
  .double_title {
    font-size: 31px;
  }
}

.double_title h3:before {
  content: attr(data-title);
  color: #e7662b;
  font-size: 20px;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  font-family: 'GothamPro';
  font-weight: bold;
  z-index: 1;
}

.courses {
  z-index: 5;
  position: relative;
  padding-bottom: 16px;
  background: #fbfbfb;
  margin-bottom: 12px;
}

.courses:before, .courses:after {
  content: '';
  width: 100%;
  display: block;
  height: 2px;
  left: 0;
  bottom: 0;
  position: absolute;
  box-shadow: 0px 0px 13.95px 1.05px rgba(0, 0, 0, 0.15);
}

.courses:before {
  background: #e7662b;
}

.courses:after {
  background: #66c1cd;
  bottom: -11px;
}

.courses .item {
  overflow: hidden;
  margin-bottom: 28px;
  position: relative;
  word-wrap: break-word;
  background: #f3f3f3;
  padding: 31px 0 21px 24px;
  box-shadow: 0px 0px 13.95px 1.05px rgba(0, 0, 0, 0.15);
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 767px) {
  .courses .item {
    width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
}

.courses .item:hover {
  box-shadow: 0px 0px 13.95px 1.05px rgba(0, 0, 0, 0.55);
}

.courses .item:hover:before {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.courses .item:before {
  content: '';
  background: url(../img/texture.png);
  display: block;
  z-index: 0;
  position: absolute;
  width: 193px;
  height: 224px;
  -webkit-transition: .3s;
  transition: .3s;
}

.courses .item_1:before {
  top: 100px;
  right: -20px;
}

.courses .item_2:before {
  top: -60px;
  left: 26px;
}

.courses .item_3 .title {
  letter-spacing: -2px;
}

.courses .item_3:before {
  top: 160px;
  right: -15px;
}

.courses .item_4:before {
  top: 100px;
  left: -53px;
}

.courses .item_5:before {
  right: 35px;
  bottom: 5px;
}

.courses .item_6:before {
  top: -75px;
  left: 25px;
}

.courses .item_7:before {
  top: -75px;
  left: 25px;
}

.courses .item_8:before {
  bottom: 94px;
  left: -16px;
}

.courses .course_name {
  position: absolute;
  font-size: 20px;
  top: 31px;
  left: 24px;
  text-transform: uppercase;
  z-index: 1;
}

.courses .course_name:before {
  content: '';
  position: absolute;
  width: 125px;
  height: 2px;
  display: inline-block;
  background: #2cc0e3;
  bottom: -5px;
  left: 0;
}

.courses .title {
  position: absolute;
  top: 42px;
  left: 23px;
  line-height: 1.1;
  text-transform: uppercase;
  font-family: 'GothamProBlack';
  font-size: 27px;
  color: #e7662b;
  z-index: 2;
}

@media (max-width: 1199px) {
  .courses .title {
    font-size: 22px;
    letter-spacing: -0.5px;
  }
}

@media (max-width: 991px) {
  .courses .title {
    font-size: 26px;
  }
}

@media (max-width: 767px) {
  .courses .title {
    font-size: 21px;
  }
}

.courses p {
  padding-top: 125px;
  font-size: 14px;
  font-weight: lighter;
  line-height: 18px;
  position: relative;
  z-index: 3;
}

@media (max-width: 1199px) {
  .courses p {
    padding-top: 75px;
  }
}

.courses .count {
  position: relative;
  z-index: 4;
  margin: 42px 0;
  font-size: 16px;
}

@media (max-width: 1199px) {
  .courses .count {
    margin: 30px 0;
  }
}

.courses .count strong {
  font-weight: 500;
}

.courses .count span {
  font-weight: lighter;
}

.courses .date {
  position: relative;
  z-index: 5;
  padding-right: 30px;
  text-align: right;
  font-size: 30px;
}

@media (max-width: 1199px) {
  .courses .date {
    font-size: 26px;
  }
}

.courses .date span {
  color: #0d97b8;
  font-weight: lighter;
}

.courses .date strong {
  font-weight: 500;
}

.courses a {
  position: relative;
  z-index: 6;
  border: 1px solid #333;
  box-shadow: 0px 0px 13.5px 1.5px rgba(0, 0, 0, 0.3);
  background: #64c1cc;
  text-transform: uppercase;
  color: #fff;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  line-height: 52px;
  text-align: center;
  width: 230px;
  height: 54px;
  font-size: 20px;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateX(-12px);
          transform: translateX(-12px);
}

@media (max-width: 991px) {
  .courses a {
    height: 42px;
    line-height: 40px;
  }
}

.courses a:hover, .courses a:focus {
  background: #3fb1be;
}

@media (max-width: 1199px) {
  .courses a {
    margin-top: 30px;
  }
}

.news {
  z-index: 5;
  position: relative;
  background: #fbfbfb;
  margin-bottom: 12px;
}

.news:before, .news:after {
  content: '';
  width: 100%;
  display: block;
  height: 2px;
  left: 0;
  bottom: 0;
  position: absolute;
  box-shadow: 0px 0px 13.95px 1.05px rgba(0, 0, 0, 0.15);
}

.news:before {
  background: #e7662b;
}

.news:after {
  background: #66c1cd;
  bottom: -11px;
}

.news img {
  box-shadow: 0px 0px 13.95px 1.05px rgba(0, 0, 0, 0.15);
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
}

.news p {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.news .date {
  background: #e7662b;
  font-size: 16px;
  color: #fff;
  display: inline-block;
  float: right;
  box-shadow: 1px 1px 7px 1px rgba(129, 129, 129, 0.3);
  margin-bottom: 15px;
  padding: 8px 20px;
}

@media (max-width: 767px) {
  .news .item {
    width: 290px;
    margin: 0 auto;
  }
}

.news a {
  position: relative;
  z-index: 6;
  border: 1px solid #333;
  box-shadow: 0px 0px 13.5px 1.5px rgba(0, 0, 0, 0.3);
  background: #64c1cc;
  text-transform: uppercase;
  color: #fff;
  display: block;
  margin: 0 auto;
  line-height: 52px;
  text-align: center;
  width: 100%;
  height: 54px;
  margin-bottom: 44px;
  font-size: 20px;
  clear: both;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 991px) {
  .news a {
    height: 42px;
    line-height: 40px;
  }
}

.news a:hover, .news a:focus {
  background: #3fb1be;
}

.partners {
  z-index: 5;
  position: relative;
  padding-bottom: 75px;
  background: #fbfbfb;
  margin-bottom: 12px;
}

.partners:before, .partners:after {
  content: '';
  width: 100%;
  display: block;
  height: 2px;
  left: 0;
  bottom: 0;
  position: absolute;
  box-shadow: 0px 0px 13.95px 1.05px rgba(0, 0, 0, 0.15);
}

.partners:before {
  background: #e7662b;
}

.partners:after {
  background: #66c1cd;
  bottom: -11px;
}

.partners .sliderPartners img {
  max-width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .3s;
  transition: .3s;
}

.partners .sliderPartners a:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.reviews {
  z-index: 5;
  position: relative;
  background: #fbfbfb;
}

.reviews:before, .reviews:after {
  content: '';
  width: 100%;
  display: block;
  height: 2px;
  left: 0;
  bottom: 0;
  position: absolute;
  box-shadow: 0px 0px 13.95px 1.05px rgba(0, 0, 0, 0.15);
}

.reviews:before {
  background: #e7662b;
}

.reviews:after {
  background: #66c1cd;
  bottom: -11px;
}

.reviews .item {
  position: relative;
  margin-bottom: 50px;
}

.reviews .name {
  color: #09f;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 15px;
}

.reviews a {
  font-weight: lighter;
  font-size: 14px;
  color: #e7662b;
  margin-bottom: 25px;
  display: inline-block;
  -webkit-transition: .3s;
  transition: .3s;
}

.reviews a:hover, .reviews a:focus {
  color: #c84e17;
}

.reviews p {
  font-style: italic;
  text-indent: 35px;
  font-size: 14px;
  font-weight: lighter;
}

.reviews .course_name {
  position: absolute;
  top: 40px;
  left: 110px;
}

.reviews .reviewImage {
  margin-bottom: 15px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  border: 3px solid #e7662b;
}

.reviews .reviewImage img {
  height: 100%;
  width: auto;
}

.reviews .write_review {
  position: relative;
  z-index: 6;
  border: 1px solid #333;
  box-shadow: 0px 0px 13.5px 1.5px rgba(0, 0, 0, 0.3);
  background: #64c1cc;
  text-transform: uppercase;
  color: #fff;
  display: block;
  margin: 0 auto;
  line-height: 52px;
  text-align: center;
  width: 370px;
  height: 54px;
  margin-bottom: 44px;
  font-size: 20px;
  clear: both;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 991px) {
  .reviews .write_review {
    height: 42px;
    line-height: 40px;
    width: 290px;
  }
}

.reviews .write_review:hover, .reviews .write_review:focus {
  background: #3fb1be;
  color: #fff;
}

.enroll_course {
  font-size: 32px;
  position: relative;
  margin-bottom: 11px;
  background: #fbfbfb;
}

@media (max-width: 991px) {
  .enroll_course {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .enroll_course {
    font-size: 18px;
  }
}

.enroll_course:before, .enroll_course:after {
  content: '';
  width: 100%;
  display: block;
  height: 2px;
  left: 0;
  bottom: 0;
  position: absolute;
  box-shadow: 0px 0px 13.95px 1.05px rgba(0, 0, 0, 0.15);
}

.enroll_course:before {
  background: #e7662b;
}

.enroll_course:after {
  background: #66c1cd;
  bottom: -11px;
}

.enroll_course form {
  text-align: center;
}

.enroll_course form input:not([type='submit']) {
  font-family: 'GothamPro';
  display: inline-block;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #82cdd5;
  font-size: 32px;
}

@media (max-width: 991px) {
  .enroll_course form input:not([type='submit']) {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .enroll_course form input:not([type='submit']) {
    font-size: 18px;
  }
}

.enroll_course form [type='submit'] {
  position: relative;
  z-index: 6;
  border: 1px solid #333;
  box-shadow: 0px 0px 13.5px 1.5px rgba(0, 0, 0, 0.3);
  background: #64c1cc;
  text-transform: uppercase;
  color: #fff;
  display: block;
  margin: 0 auto;
  line-height: 52px;
  text-align: center;
  width: 370px;
  height: 54px;
  margin-bottom: 44px;
  font-size: 20px;
  clear: both;
  font-family: 'GothamPro';
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 991px) {
  .enroll_course form [type='submit'] {
    height: 42px;
    line-height: 40px;
    width: 290px;
  }
}

.enroll_course form [type='submit']:hover, .enroll_course form [type='submit']:focus {
  background: #3fb1be;
}

.enroll_course form .first_input {
  width: 550px;
}

@media (max-width: 1370px) {
  .enroll_course form .first_input {
    width: 415px;
  }
}

@media (max-width: 767px) {
  .enroll_course form .first_input {
    width: 40%;
  }
}

@media (max-width: 580px) {
  .enroll_course form .first_input {
    width: 90%;
    margin-bottom: 20px;
  }
}

.enroll_course form .second_input {
  width: 690px;
  font-family: 'GothamPro';
  display: inline-block;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #82cdd5;
  font-size: 32px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align: center;
}

@media (max-width: 991px) {
  .enroll_course form .second_input {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .enroll_course form .second_input {
    font-size: 18px;
    width: 80%;
  }
}

.enroll_course form .third_input {
  width: 410px;
  margin-top: 40px;
}

@media (max-width: 767px) {
  .enroll_course form .third_input {
    width: 70%;
    margin-top: 0;
  }
}

.enroll_course form .four_input {
  width: 460px;
}

@media (max-width: 767px) {
  .enroll_course form .four_input {
    width: 50%;
  }
}

@media (max-width: 580px) {
  .enroll_course form .four_input {
    width: 90%;
  }
}

.enroll_course form .orange {
  color: #f60;
}

.enroll_course form .blue {
  color: #0d97b8;
}

.enroll_course form p {
  margin-bottom: 45px;
  position: relative;
}

@media (max-width: 1199px) {
  .enroll_course form p {
    margin-bottom: 25px;
  }
}

@media (max-width: 991px) {
  .enroll_course form p {
    margin-bottom: 15px;
  }
}

#contact_map {
  height: 400px;
  width: 100%;
}

@media (max-width: 767px) {
  #contact_map {
    height: 300px;
  }
}

footer {
  border-bottom: 2px solid #e7662b;
  position: relative;
  font-size: 20px;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  footer {
    margin-bottom: 0;
  }
}

footer .info {
  padding: 74px 60px 55px 77px;
  position: absolute;
  right: 100px;
  bottom: -2px;
  background: #fbfbfb;
  border: 2px solid #e7662b;
  border-bottom-color: #fff;
}

@media (max-width: 1199px) {
  footer .info {
    padding: 55px 55px 30px 75px;
    right: 120px;
  }
}

@media (max-width: 991px) {
  footer .info {
    padding: 35px 30px 15px 60px;
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  footer .info {
    width: 100%;
    position: relative;
    right: 0;
    bottom: 0;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: 16px;
  }
}

footer .info p, footer .info div {
  margin-bottom: 15px;
}

footer a {
  color: #333;
}

footer span,
footer b {
  vertical-align: top;
  text-transform: uppercase;
}

footer b,
footer ul {
  display: inline-block;
}

footer ul li:not(:last-of-type) {
  margin-bottom: 15px;
}

.no-touch li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}

.writeReview {
  position: relative;
}

.writeReview .double_title {
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 45px;
}

@media (max-width: 767px) {
  .writeReview .double_title {
    font-size: 38px;
  }
}

.writeReview .writeReviewForm {
  width: 750px;
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(0) translate(-50%, -50%);
          transform: scale(0) translate(-50%, -50%);
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  padding: 35px 40px;
}

@media (max-width: 767px) {
  .writeReview .writeReviewForm {
    width: 90%;
    height: 80%;
    overflow-y: scroll;
    padding: 25px 20px;
    -webkit-overflow-scrolling: touch;
  }
}

.writeReview .writeReviewForm .closeModal {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
  width: 19px;
  height: 19px;
  display: inline-block;
  cursor: pointer;
}

.writeReview .writeReviewForm .closeModal img {
  max-width: 100%;
}

.writeReview form {
  font-size: 16px;
  font-family: 'GothamPro';
  font-weight: normal;
}

.writeReview form [type='text'] {
  width: 100%;
  font-size: 16px;
  border: none;
  font-family: 'GothamPro';
  background-color: transparent;
  display: block;
  border-bottom: 1px solid #82cdd5;
  margin-bottom: 25px;
  padding-left: 20px;
}

.writeReview form select {
  font-size: 16px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #82cdd5;
  resize: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-bottom: 25px;
  padding-left: 20px;
  font-family: 'GothamPro';
}

.writeReview form textarea {
  font-size: 16px;
  font-family: 'GothamPro';
  display: block;
  width: 100%;
  border: none;
  border: 1px solid #82cdd5;
  height: 195px;
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 25px;
}

.writeReview form [type='submit'] {
  position: relative;
  z-index: 6;
  border: 1px solid #333;
  box-shadow: 0px 0px 13.5px 1.5px rgba(0, 0, 0, 0.3);
  background: #64c1cc;
  text-transform: uppercase;
  color: #fff;
  display: block;
  margin: 0 auto;
  line-height: 52px;
  text-align: center;
  width: 330px;
  height: 54px;
  font-size: 20px;
  clear: both;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 991px) {
  .writeReview form [type='submit'] {
    height: 42px;
    line-height: 40px;
    width: 290px;
  }
}

@media (max-width: 767px) {
  .writeReview form [type='submit'] {
    width: 80%;
  }
}

.writeReview form [type='submit']:hover, .writeReview form [type='submit']:focus {
  background: #3fb1be;
}

.topHeader + .courses {
  margin-top: 70px;
}

.owl-item {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}

.aboutCourse {
  margin-top: 150px;
}

@media (max-width: 767px) {
  .aboutCourse {
    margin-top: 60px;
  }
}

.aboutCourse p {
  font-size: 18px;
  text-indent: 35px;
  text-align: justify;
  line-height: 1.2;
}

.aboutCourse .corse {
  text-transform: uppercase;
  font-size: 22px;
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  text-align: center;
}

@media (max-width: 767px) {
  .aboutCourse .corse {
    text-align: left;
    left: 15px;
  }
}

@media (max-width: 480px) {
  .aboutCourse .corse {
    top: -23px;
  }
}

.aboutCourse .double_title {
  clear: both;
  display: block;
  text-align: center;
  margin: 0;
  margin-bottom: 80px;
  word-wrap: break-word;
  font-size: 48px;
  color: rgba(100, 193, 205, 0.3);
}

@media (max-width: 991px) {
  .aboutCourse .double_title {
    float: left;
  }
}

@media (max-width: 600px) {
  .aboutCourse .double_title {
    float: none;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .aboutCourse .double_title {
    font-size: 35px;
    display: block;
    word-wrap: break-word;
    text-align: center;
  }
}

.aboutCourse .double_title h3 {
  line-height: 1.2;
}

@media (max-width: 480px) {
  .aboutCourse .double_title h3 {
    line-height: 1.2;
  }
}

.aboutCourse .double_title h3:before {
  text-align: center;
  font-size: 30px;
}

@media (max-width: 1199px) {
  .aboutCourse .double_title h3:before {
    font-size: 25px;
  }
}

@media (max-width: 991px) {
  .aboutCourse .double_title h3:before {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .aboutCourse .double_title h3:before {
    font-size: 18px;
  }
}

.aboutCourse .level {
  padding-left: 120px;
  margin-bottom: 25px;
}

@media (max-width: 991px) {
  .aboutCourse .level {
    padding-left: 0;
    float: right;
  }
}

@media (max-width: 600px) {
  .aboutCourse .level {
    float: none;
  }
}

.aboutCourse .level i {
  display: inline-block;
  width: 16px;
  height: 17px;
  margin-left: 3px;
  background-size: contain;
  background-repeat: no-repeat;
}

.aboutCourse .level i.polyFill {
  background-image: url(../img/polyFill.png);
}

.aboutCourse .level i.polyEmpty {
  background-image: url(../img/polyEmpty.png);
}

.aboutCourse .level span {
  vertical-align: 4px;
}

.aboutCourse .courseFor {
  padding-left: 120px;
}

@media (max-width: 991px) {
  .aboutCourse .courseFor {
    padding-left: 0;
    float: right;
  }
}

@media (max-width: 600px) {
  .aboutCourse .courseFor {
    float: none;
    overflow: hidden;
    margin-bottom: 20px;
  }
}

.aboutCourse .courseFor span, .aboutCourse .courseFor ul {
  float: left;
}

.aboutCourse .courseFor li {
  margin-bottom: 7px;
}

.aboutCourse .courseFor span {
  margin-right: 5px;
}

.aboutCourse .timerCourse {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 45px;
}

.aboutCourse .timerCourse .timerTime {
  font-size: 36px;
  color: #0c9eaf;
  font-weight: bold;
}

@media (max-width: 600px) {
  .aboutCourse .timerCourse .timerTime {
    display: block;
  }
}

.aboutCourse .timerCourse .timerTitle {
  font-size: 24px;
}

.priceCourse {
  margin-bottom: 30px;
}

.priceCourse .item {
  border: 10px solid #e7662b;
  box-shadow: 0px 0px 13.95px 1.05px rgba(0, 0, 0, 0.15);
  font-size: 20px;
}

@media (max-width: 991px) {
  .priceCourse .item {
    border-width: 6px;
  }
}

@media (max-width: 600px) {
  .priceCourse .item {
    font-size: 18px;
  }
}

.priceCourse .item > div {
  float: left;
  width: 50%;
  position: relative;
}

@media (max-width: 991px) {
  .priceCourse .item > div {
    width: 100%;
  }
}

.priceCourse .item span {
  font-family: 'GothamProBlack';
  font-size: 32px;
  vertical-align: middle;
  margin-left: 30px;
}

@media (max-width: 600px) {
  .priceCourse .item span {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .priceCourse .item span {
    display: block;
  }
}

.priceCourse .item a {
  display: block;
  background: #64c1cc;
  color: #fff;
  height: 54px;
  line-height: 52px;
  padding: 0 10px;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
  clear: both;
  width: 360px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid  #333;
  box-shadow: 0px 0px 13.95px 1.05px rgba(0, 0, 0, 0.15);
  margin-bottom: -37px;
}

@media (max-width: 991px) {
  .priceCourse .item a {
    height: 42px;
    line-height: 40px;
    width: 290px;
    margin-bottom: -30px;
  }
}

@media (max-width: 991px) {
  .priceCourse .item a {
    width: 250px;
  }
}

.priceCourse .item a:hover, .priceCourse .item a:focus {
  background: #3fb1be;
}

.priceCourse .item .cost {
  margin-bottom: 120px;
  margin-top: 60px;
  padding-left: 130px;
}

@media (max-width: 1199px) {
  .priceCourse .item .cost {
    padding-left: 40px;
  }
}

@media (max-width: 991px) {
  .priceCourse .item .cost {
    margin-bottom: 40px;
  }
}

@media (max-width: 480px) {
  .priceCourse .item .cost {
    padding-left: 15px;
    margin-bottom: 20px;
    margin-top: 15px;
  }
}

.priceCourse .item .cost:before {
  content: '';
  background-image: url(../img/money.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 119px;
  height: 109px;
  top: -30px;
  left: 100px;
}

@media (max-width: 1199px) {
  .priceCourse .item .cost:before {
    left: 40px;
  }
}

@media (max-width: 991px) {
  .priceCourse .item .cost:before {
    background-size: cover;
    width: 95px;
    height: 83px;
  }
}

@media (max-width: 480px) {
  .priceCourse .item .cost:before {
    display: none;
  }
}

.priceCourse .item .duration {
  margin-bottom: 120px;
  margin-top: 60px;
  padding-left: 58px;
}

@media (max-width: 1199px) {
  .priceCourse .item .duration {
    padding-left: 24px;
  }
}

@media (max-width: 991px) {
  .priceCourse .item .duration {
    padding-left: 40px;
    margin-bottom: 86px;
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .priceCourse .item .duration {
    padding-left: 15px;
    margin-bottom: 20px;
    margin-top: 15px;
  }
}

.priceCourse .item .duration:before {
  content: '';
  background-image: url(../img/calendar.png);
  background-repeat: no-repeat;
  position: absolute;
  top: -27px;
  left: 40px;
  width: 92px;
  height: 104px;
}

@media (max-width: 1199px) {
  .priceCourse .item .duration:before {
    left: 6px;
  }
}

@media (max-width: 991px) {
  .priceCourse .item .duration:before {
    background-size: cover;
    width: 75px;
    height: 86px;
    left: 37px;
  }
}

@media (max-width: 480px) {
  .priceCourse .item .duration:before {
    display: none;
  }
}

.priceCourse .item .start {
  margin-bottom: 80px;
  padding-left: 170px;
}

@media (max-width: 1199px) {
  .priceCourse .item .start {
    padding-left: 105px;
  }
}

@media (max-width: 991px) {
  .priceCourse .item .start {
    padding-left: 40px;
  }
}

@media (max-width: 480px) {
  .priceCourse .item .start {
    padding-left: 15px;
    margin-bottom: 20px;
    margin-top: 15px;
  }
}

.priceCourse .item .start:before {
  content: '';
  background-image: url(../img/clock.png);
  background-repeat: no-repeat;
  position: absolute;
  top: -32px;
  left: 130px;
  width: 87px;
  height: 99px;
}

@media (max-width: 1199px) {
  .priceCourse .item .start:before {
    left: 65px;
  }
}

@media (max-width: 991px) {
  .priceCourse .item .start:before {
    background-size: cover;
    width: 70px;
    height: 79px;
    left: 38px;
  }
}

@media (max-width: 480px) {
  .priceCourse .item .start:before {
    display: none;
  }
}

.priceCourse .item .week {
  margin-bottom: 80px;
  padding-left: 160px;
}

@media (max-width: 1199px) {
  .priceCourse .item .week {
    padding-left: 80px;
  }
}

@media (max-width: 991px) {
  .priceCourse .item .week {
    padding-left: 40px;
    margin-bottom: 45px;
  }
}

@media (max-width: 480px) {
  .priceCourse .item .week {
    padding-left: 15px;
    margin-bottom: 20px;
    margin-top: 15px;
  }
}

.priceCourse .item .week:before {
  content: '';
  background-image: url(../img/desktop.png);
  background-repeat: no-repeat;
  position: absolute;
  top: -29px;
  left: 102px;
  width: 107px;
  height: 95px;
}

@media (max-width: 1199px) {
  .priceCourse .item .week:before {
    left: 42px;
  }
}

@media (max-width: 991px) {
  .priceCourse .item .week:before {
    background-size: cover;
    width: 88px;
    height: 77px;
    left: 38px;
  }
}

@media (max-width: 480px) {
  .priceCourse .item .week:before {
    display: none;
  }
}

.coursesProgramm .items {
  margin-top: 10px;
}

.coursesProgramm .titleList {
  background: #e7662b;
  font-weight: lighter;
  font-size: 20px;
  color: #fff;
  text-align: center;
  width: 130px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
}

.coursesProgramm .line {
  width: 100%;
  height: 1px;
  background: #0c9eaf;
  margin-top: 15px;
  margin-bottom: 30px;
}

.coursesProgramm li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
}

.coursesProgramm li:before {
  border-radius: 50%;
  border: 1px solid #0c9eaf;
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  position: absolute;
  top: 4px;
  left: 12px;
}

.teachers .item {
  overflow: hidden;
  position: relative;
  min-height: 430px;
  box-shadow: 0px 0px 13.95px 1.05px rgba(0, 0, 0, 0.15);
  background-repeat: no-repeat;
  background-position: center  center;
  margin-bottom: 30px;
}

@media (max-width: 1199px) {
  .teachers .item {
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .teachers .item {
    min-height: 400px;
    max-width: 75%;
    margin-left: 12.5%;
  }
}

@media (max-width: 480px) {
  .teachers .item {
    max-width: 95%;
    margin-left: 2.5%;
    min-height: 340px;
  }
}

.teachers .item:hover .aboutTeacher {
  opacity: 1;
  visibility: visible;
}

.teachers .item .title {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 6;
}

.teachers .item .title h5 {
  text-transform: uppercase;
  font-size: 20px;
  color: #e7662b;
}

.teachers .item .title p {
  font-size: 20px;
  text-transform: lowercase;
  color: #fff;
}

.teachers .aboutTeacher {
  padding: 35px 50px 10px 50px;
  opacity: 0;
  visibility: hidden;
  color: #fff;
  font-weight: lighter;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: #09c;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 1199px) {
  .teachers .aboutTeacher {
    padding: 20px 20px 10px;
  }
}

.teachers .aboutTeacher .facts {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 25px;
}

.teachers .aboutTeacher li {
  text-align: justify;
  line-height: 1.3;
}

@media (max-width: 767px) {
  .coursesVideo .item {
    margin-bottom: 30px;
  }
}

.coursesVideo .videoDate {
  background: #e7662b;
  color: #fff;
  display: inline-block;
  float: right;
  margin-bottom: 10px;
  padding: 7px 23px;
}

.coursesVideo .videoItem {
  clear: both;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  display: block;
}

.coursesVideo .videoItem iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.coursesVideo p {
  font-size: 18px;
  font-weight: lighter;
  text-transform: uppercase;
  margin-top: 22px;
}

.coursesVideo + .reviews:after {
  bottom: -11px;
  top: auto;
}

.coursesVideo + .reviews + .enroll_course:after {
  bottom: -11px;
  top: auto;
}

.wpcf7-form-control-wrap {
  position: initial !important;
}

span.wpcf7-not-valid-tip {
  font-size: 15px;
  position: absolute;
  display: block;
  right: 0;
  top: 45px;
  width: 200px;
}

@media (max-width: 991px) {
  span.wpcf7-not-valid-tip {
    top: 42px;
  }
}

@media (max-width: 580px) {
  span.wpcf7-not-valid-tip {
    top: 28px;
  }
}

.wpcf7-not-valid {
  border-color: #f00 !important;
}

.wpcf7-not-valid-tip {
  display: none !important;
}

.div.wpcf7-validation-errors {
  margin-top: 0 !important;
  border-color: #e7662b !important;
}
